options = {
    "mission_name": "NSX",
	"telem_file" : "telem-ns1.txt",
	"logo_img" : "img/ashab.png",
	"payload_icon" : "img/icono-ns1.png",
	"arrow_icon" : "img/heading-arrow.png",
	"parachute_icon" : "img/parachute-icon.png",
	"balloon_icon" : "img/balloon-icon.png",
	"get_data_url" : "http://test.ladecadence.net/get",
	"mongo_host" : "localhost",
	"mongo_port" : 27017,
	"mongo_db" : "ashab-test",
	"mongo_col" : "data",
	"ssdv_dir" : "ssdv/",
	"twitter_enabled": True,
	"twitter_interval": 5,
	"twitter_thread": 0,
	"twitter_cons_key": "",
	"twitter_cons_secret": "",
	"twitter_access_token": "",
	"twitter_access_secret": "",
}
